{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">


</head>
<body>
<main>
    <article>
        <section id="screen">
        <label class="screens" for="screen-inputs" ></label>
        <input type="text" id="screen-inputs" onkeypress="return isNumberKey(event)">

        <label for="resultScreen" disabled></label>

        <input type="text" class="screens" id="resultScreen">
    </section>

        <section id="display">
        <ul class="calculator display" id="calculator-buttons">
            {% for number in numbers %}
                <li>
                    {#                <input type="button" value="{{ number.value }}" onclick="typeButtonValuesOnScreen()" >#}
                    <button type="button" class="{{ number.button_type }}" value="{{ number.value }}"
                            onclick="clickButton(this)">{{ number.value }}

                    </button>
                </li>
            {% endfor %}
        </ul>
    </section>
    </article>
</main>
<script src="{% static 'JavaScripts/functions.js' %}"></script>
</body>
</html>