body {
    margin: 8px;
}

main {
    background-color: whitesmoke;
    border: 1px solid dimgray;
    border-radius: 3%;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 300px;
    margin-left: 40%;
    margin-top: 5%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.011);
}

article {
    margin-left: 7%;
    margin-right: 4%;
    height: 81%;
    margin-top: -2%;
}

#screen {
    margin-top: 10%;
    height: 30%;
    direction: rtl;
    text-align: right;
    margin-left: 2%;
}

#screen-inputs {
    background-color: whitesmoke;
    height: 50%;
    width: 100%;
    border-bottom: none;
    font-size: 158%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 0 0;
    border-top: white;
    border-left: white;
    border-right: none;
}

#screen-inputs::placeholder {
    color: gray;
    font-size: 15px;
}

#resultScreen {
    background-color: whitesmoke;
    height: 50%;
    width: 100%;
    border-top: none;
    font-size: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 6px 6px;
    border-left: white;
    border-bottom: none;
    border-right: none;
}

#display {
    background-color: whitesmoke;
    padding: 12%;
    margin-top: 7%;
    height: 58%;
    width: 77%;
    margin-left: -2%;
}

table {
    padding-right: 1%;
    margin: -15% -17%;
}

.button {
    display: inline-block;
    cursor: pointer;
    width: 41px;
    background-color: lightgray;
    border-radius: 4px;
    margin: 7%;
    height: 29px;
    border: 1px solid gray;
    border-top: 3px solid rgba(255, 255, 255, 0.1); /* Светла ивица отгоре */
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s, transform 0.2s;
}

.button::before {
    content: ''; /* Празно съдържание */
    position: absolute; /* Абсолютно позициониране */
    top: 0; /* В горната част на бутона */
    left: 0; /* В лявата част на бутона */
    width: 100%; /* Ширина 100% */
    height: 100%; /* Височина 100% */
    border-top: 3px solid rgba(255, 255, 255, 0.3); /* Светла ивица отгоре */
    border-left: 3px solid rgba(255, 255, 255, 0.3); /* Светла ивица отляво */
    box-sizing: border-box; /* Включва границите в изчислението на ширината и височината */
    pointer-events: none; /* Прекъсва взаимодействието с мишката */
}

.button.special.equal {
    background-color: lightblue;
    height: 67px;
}

.button:hover {
    background-color: bisque;
    border-top: 3px solid rgba(255, 255, 255, 0.3); /* Светла ивица отгоре */
    border-left: 3px solid rgba(255, 255, 255, 0.3);
}

.button:active {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
    /*border-top: 1px solid rgba(255, 255, 255, 0.3); !* Светла ивица отгоре *!*/
    /*border-left: 1px solid rgba(255, 255, 255, 0.3);*/
}

.button.special.equal:hover {
    background-color: bisque;
    border-top: 3px solid rgba(255, 255, 255, 0.3); /* Светла ивица отгоре */
    border-left: 3px solid rgba(255, 255, 255, 0.3);
}

