body {
    margin: 8px;
}

main {
    background-color: whitesmoke;
    border: 3px solid dimgray;
    border-radius: 3%;
    box-shadow: dimgray;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 300px;
    position: center;
    margin-left: 40%;
    margin-top: 5%;
}

article {
    margin-left: 7%;
    margin-right: 4%;
    height: 81%;
    margin-top: -2%;
}
#screen {
    margin-top: 10%;
    height: 30%;
    direction: rtl;
    text-align: right;
    margin-left: 2%;
}

#screen-inputs {
    background-color: whitesmoke;
    height: 50%;
    width: 100%;
    border-bottom: none;
    font-size: 158%;
    border-radius: 6px 6px 0 0;
    border-top: white;
    border-left: white;
    border-right: none;
}

#resultScreen {
    background-color: whitesmoke;
    height: 50%;
    width: 100%;
    border-top: none;
    font-size: 100%;
    border-radius: 0 0 6px 6px;
    border-left: white;
    border-bottom: none;
    border-right: none;
}

#display {
    background-color: whitesmoke;
    padding: 12%;
    margin-top: 7%;
    height: 58%;
    width: 77%;
    margin-left: -2%;
}
table {
    padding-right: 1%;
    margin: -9% -9%;
}

.button {
    display: inline-block;
    cursor: pointer;
    width: 36px;
    background-color: white;
    border-radius: 4px;
    margin: 6%;
    height: 26px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.button.special.equal {
    background-color: lightblue;
    height: 59px;
}

