{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
    <body >
    <main>
        <article>
            <div id="draggable"></div>
            <section id="screen">
                <label for="inputs"></label>
                <input type="text" class="screen-inputs" id="inputs"
                       dir="auto" onkeypress="return isNumberKey(event)" placeholder="Type Expression"
                                onkeyup="return handleKeyPress(event)">
                <label for="resultScreen"></label>
                <input type="text" class="resultScreen" id="resultScreen" dir="auto" disabled>
            </section>
            <section id="display">
                <table>
                    <tr class="row 1">
                        <td>
                            <button type="button" class="button clear_function"
                                    value="C" onclick="clickButton(this)">C</button>
                        </td>
                        <td>
                            <button type="button" class="button operation"
                                    value="/" onclick="clickButton(this)">/</button>
                        </td>
                        <td>
                            <button type="button" class="button operation"
                                    value="*" onclick="clickButton(this)">*</button>
                        </td>
                        <td>
                            <button type="button" class="button clear_function"
                                    value="BACK" onclick="clickButton(this) "><<</button>
                        </td>
                    </tr>
                    <tr class="row 2">
                        <td>
                            <button type="button" class="button digit"
                                    value="7" onclick="clickButton(this)">7</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="8" onclick="clickButton(this)">8</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="9" onclick="clickButton(this)">9</button>
                        </td>
                        <td>
                            <button type="button" class="button operation"
                                    value="-" onclick="clickButton(this)">-</button>
                        </td>
                    </tr>
                    <tr class="row 3">
                         <td>
                            <button type="button" class="button digit"
                                    value="4" onclick="clickButton(this)">4</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="5" onclick="clickButton(this)">5</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="6" onclick="clickButton(this)">6</button>
                        </td>
                        <td>
                            <button type="button" class="button operation"
                                    value="+" onclick="clickButton(this)">+</button>
                        </td>
                    </tr>
                    <tr class="row 4">
                        <td>
                            <button type="button" class="button digit"
                                    value="1" onclick="clickButton(this)">1</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="2" onclick="clickButton(this)">2</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="3" onclick="clickButton(this)">3</button>
                        </td>
                        <td rowspan="2">
                            <button  type="button" class="button special equal"
                                    value="=" onclick="clickButton(this)">=</button>
                        </td>
                    </tr>
                    <tr class="row 5"><td>
                            <button type="button" class="button special"
                                    value="%" onclick="clickButton(this)">%</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="0" onclick="clickButton(this)">0</button>
                        </td>
                        <td>
                            <button type="button" class="button digit"
                                    value="." onclick="clickButton(this)">.</button>
                        </td>
                       </tr>

                </table>
        </section>
        </article>
    </main>
    <script src="{% static 'JavaScripts/functions.js' %}"></script>
    <script src="{% static 'JavaScripts/drag.js' %}"></script>
    </body>
</html>